.user-list-warper {
  padding: 10px 20px;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.user-list-header {
  color: #444;
  display: block;
  padding: 10px;
  position: relative;
}

.user-title-warper {
  margin: 10px;
}