.logo-warp{
  margin: 0px auto 20px; 
  width: 150px;
  height: 150px;
}

.login-warpper{
  min-height: 100%;
  height: auto;
  padding: 100px;
}

.login-layout{
  border-radius: 15px;
  padding: 20px;
  width: 600px;
  margin: 20px auto;
  background-color: #eee;
}

.login-btn-warp{
  text-align: center;
}

.login-btn{
  width: 220px;
  margin: 0px auto; 
}

.login-remember-me-warp{

}